# fly.toml app configuration file generated for dayta-backend

app = "dayta-backend"
primary_region = "cdg"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[processes]
  # Use uvicorn to start the FastAPI app
  app = "uvicorn main:app --host 0.0.0.0 --port 8000"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
